<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="jinbid.converter.comn.mapper.NoticeOrignDao">

	<!-- 공고 첨부파일 조회 -->
<!-- 	<insert id="insertNoticeOrign"  parameterType="jinbid.converter.comn.vo.NoticeOrign" > -->
	<insert id="insertNoticeOrign"  parameterType="Map" >
			INSERT INTO
			NOTI_ORIGN						
				(
				`NOTI_ID`,
				`NOTI_ATCHMNFL_ID`,
				`NOTI_ATCHMNFL_YN`,
				`ORIGN_TP_CD`,
				`ORIGN_TEXT`,
				`FIRST_INPUT_DT`,
				`FIRST_INPTPS`,
				`LAST_UPDT_DT`,
				`LAST_AMNDR`,
				`USE_YN`)
				VALUES
			<foreach collection='list' item='orign' separator=", ">
				(
				#{orign.notiId},
				null,
				'N',
				#{orign.orignTpCd},
				#{orign.orignText},
				now(),
				'batch2_insert',
				now(),
				'batch2_insert',
				'Y')
				</foreach>
	</insert>
	
</mapper>