<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="jinbid.converter.comn.mapper.NoticeCompnoPrdprcDao">

    <!--        공고복수예가 목록을 조회한다.    -->
    <select id="selectNoticeCompnoPrdprcList" parameterType="long" resultType="jinbid.converter.comn.vo.NoticeCompnoPrdprc">
        SELECT A.ID,
		               A.NOTI_ID,
		               A.COMPNO_PRDPRC,
		               A.COMPNO_PRDPRC_RT,
		               A.SORT_ORDR,
		               A.OPBD_CHOICE_YN,
		               A.OPBD_CHOICE_TMCNT
         FROM  NOTI_COMPNO_PRDPRC A
       WHERE  A.NOTI_ID = #{notiId}
        	AND  A.USE_YN = 'Y'
        ORDER BY SORT_ORDR
    </select>

   <select id="existNoticeCompnoPrdprc" parameterType="long" resultType="int">
   		SELECT	count(*) 
   		   FROM  NOTI_COMPNO_PRDPRC
        WHERE  NOTI_ID = #{notiId}
   </select>
   
   
   
    <!--        공고복수예가를 입력    -->
<!--     <insert id="insertCompnoPrdprc" parameterType="jinbid.converter.comn.vo.NoticeCompnoPrdprc"> -->
    <insert id="insertCompnoPrdprc" parameterType="Map">
    	        INSERT INTO
        			NOTI_COMPNO_PRDPRC 
        							  (
        							  	NOTI_ID,
                                        COMPNO_PRDPRC,
                                        COMPNO_PRDPRC_RT,
                                        SORT_ORDR,
                                        OPBD_CHOICE_YN,
                                        OPBD_CHOICE_TMCNT,
                                        FIRST_INPUT_DT,
                                        FIRST_INPTPS,
                                        LAST_UPDT_DT,
                                        LAST_AMNDR,
                                        USE_YN)
       			VALUES
			<foreach collection="list" item="Comp" separator=" , ">        
		         	 ( #{Comp.notiId},
		                #{Comp.compnoPrdprc},
		                #{Comp.compnoPrdprcRt},
		                #{Comp.sortOrdr},
		                #{Comp.opbdChoiceYn},
		                #{Comp.opbdChoiceTmcnt},
		                now(),
		                'batch2_insert',
		                now(),
		                'batch2_insert',
		                'Y')
              </foreach>
    </insert>
    
    <!--        공고복수예가를 수정    -->
    <update id="updateCompnoPrdprc" parameterType="jinbid.converter.comn.vo.NoticeCompnoPrdprc">
    	        UPDATE NOTI_COMPNO_PRDPRC 
        				SET	
                        	   OPBD_CHOICE_YN 			= #{opbdChoiceYn},
                               OPBD_CHOICE_TMCNT	= #{opbdChoiceTmcnt},
                               LAST_UPDT_DT					= now(),
                               LAST_AMNDR					= 'batch_update'
               WHERE
               				   NOTI_ID 								=  #{notiId}
               		AND  COMPNO_PRDPRC			=  #{compnoPrdprc}
               		AND  COMPNO_PRDPRC_RT		=  #{compnoPrdprcRt}
    </update>
    
    
<!--     
        공고복수예가를 수정한다.
   
    <update id="updateNoticeCompnoPrdprcPrarg" parameterType="jinbid.converter.comn.vo.NoticeCompnoPrdprcUpdateDto">
        UPDATE 
        	SY_NOTI.NOTI_COMPNO_PRDPRC
        SET 
        <if test="@org.apache.commons.lang3.StringUtils@isNotBlank(compnoPrdprc)">
        	COMPNO_PRDPRC = #{compnoPrdprc},
        </if>
        <if test="@org.apache.commons.lang3.StringUtils@isNotBlank(compnoPrdprcRt)">
            COMPNO_PRDPRC_RT = #{compnoPrdprcRt},
        </if>
        <if test="sortOrdr != null">
            SORT_ORDR = #{sortOrdr},
        </if>
        <if test="@org.apache.commons.lang3.StringUtils@isNotBlank(opbdChoiceYn)">
            OPBD_CHOICE_YN = #{opbdChoiceYn},
        </if>
        <if test='opbdChoiceTmcnt != null'>
            OPBD_CHOICE_TMCNT = #{opbdChoiceTmcnt},
        </if>
        <if test="@org.apache.commons.lang3.StringUtils@isNotBlank(useYn)">
            USE_YN = #{useYn},
        </if>
        
            LAST_UPDT_DT = now(),
            LAST_AMNDR = #{lastAmndr}
        WHERE ID = #{id}
    </update>
     -->
</mapper>