<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="jinbid.converter.comn.mapper.NoticeBddprPrtcCmpDao">

    
    <!--        투찰참여업체 목록의 전체건수를 조회한다.    -->
    <select id="selectNoticeBddprPrtcCmpListCnt" parameterType="Long" resultType="int">
    	SELECT
    		COUNT(*) TOT_CNT
		FROM
			SY_NOTI.NOTI_BDDPR_PRTC_CMP
		WHERE 1
		AND NOTI_ID = #{notiId}
		AND USE_YN = 'Y'
    </select>

    <!--        투찰참여업체 목록     -->
<!--     <insert id="insertNoticeBddprPrtcCmp" parameterType="jinbid.converter.comn.vo.NoticeBddprPrtcCmp" > -->
    <insert id="insertNoticeBddprPrtcCmp" parameterType="Map" >
    	INSERT INTO SY_NOTI.NOTI_BDDPR_PRTC_CMP
				     ( NOTI_ID,
						CMP_NM,
						RPSNTV_NM,
						BIZ_NO,
						BDDPR_DT,
						BDDPR_AMT,
						BDDPR_RT,
						CMP_RANK,
						CHOICE_PRDPRC_NO,
						RMARK,
						FIRST_INPUT_DT,
						FIRST_INPTPS,
						LAST_UPDT_DT,
						LAST_AMNDR,
						USE_YN)
		VALUES
		<foreach collection="list" item="Bddpr" separator=" , ">
						(  #{Bddpr.notiId},
							#{Bddpr.cmpNm},
							#{Bddpr.rpsntvNm},
							#{Bddpr.bizNo},
							FROM_UNIXTIME(#{Bddpr.bddprDt}),
							#{Bddpr.bddprAmt},
							#{Bddpr.bddprRt},
							#{Bddpr.cmpRank},
							#{Bddpr.choicePrdprcNo},
							#{Bddpr.rmark},
							now(),
							'batch2_insert',
							now(),
							'batch2_insert',
							'Y')
    	</foreach>
    </insert>
    
</mapper>