<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="jinbid.converter.comn.mapper106.NoticeBdprPrtcCmp106Dao">

	<!-- 투찰 참여업체 조회 -->
	<select id="selectNoticeBdprPrtcCmp"  parameterType="Map" resultType="jinbid.converter.comn.vo.NoticeBddprPrtcCmp">
	<![CDATA[ 
			SELECT
			#{id} as NOTI_ID
			,CompanyName as CMP_NM
			,OwnerName 	 as RPSNTV_NM
			,BusinessNum  as BIZ_NO
			,CC.OpenBidTime as BDDPR_DT
			,WritePrice 		 as BDDPR_AMT
			,ROUND( IFNULL( WritePrice / NB.BasePrice * 100 / NB.NoticeLowLimit * 100, 0), 4) as BDDPR_RT
			,Position as CMP_RANK 
			,ChoiceNumber as CHOICE_PRDPRC_NO
			,Etc as RMARK
			FROM NoticeTables.S_ContestCompany CC,
						NoticeTables.N_NoticeBase NB
			WHERE CC.KeyBaseTable = NB.Idx
	        AND CC.KeyBaseTable = #{prfId}
         ]]>
	</select>

	
</mapper>