<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="jinbid.converter.comn.mapper106.NoticeCompnoPrdprc106Dao">

	<!-- 공고 복수예가 목록 조회 -->
	<select id="selectNoticeCompnoPrdprcList"  parameterType="Map" resultType="jinbid.converter.comn.vo.NoticeCompnoPrdprc">
	<![CDATA[ 
				SELECT 
		#{id} as notiId,	
        compnoPrdPrc	, compnoPrdprcRt, sortOrdr, opbdChoiceTmcnt
            FROM
            (
            SELECT 	r.KeyBaseTable
							,IF(n.price1 is null,r.price1 ,n.price1 ) as compnoPrdPrc
							,IF(n.price1 is null,r.percentage1,(n.price1/ #{baseAmt}) * 100 ) as compnoPrdprcRt
							,1 as sortOrdr
                            ,IF(r.Count1>10000000,'Y','N') as opbdChoiceYn
							,IF(r.Count1>10000000,cast(r.Count1 as signed)-10000000,r.Count1) as opbdChoiceTmcnt
			   FROM	NoticeTables.S_ResultPrePrice r
		LEFT JOIN 	NoticeTables.S_NoticePrePrice n
			ON r.KeyBaseTable = n.KeyBaseTable
			WHERE r.KeyBaseTable = #{prfId}
			
			UNION
			SELECT 	r.KeyBaseTable, 	
				IF(n.price2 is null,r.price2 ,n.price2 ) as compnoPrdPrc
				,IF(n.price2 is null,r.percentage2,(n.price2/ #{baseAmt}) * 100 ) as compnoPrdprcRt
				,2 as sortOrdr
				,IF(r.Count2>10000000,'Y','N') as opbdChoiceYn
				,IF(r.Count2>10000000,cast(r.Count2 as signed)-10000000,r.Count2) as opbdChoiceTmcnt
			   FROM	NoticeTables.S_ResultPrePrice r
		LEFT JOIN 	NoticeTables.S_NoticePrePrice n
			ON r.KeyBaseTable = n.KeyBaseTable
			WHERE r.KeyBaseTable = #{prfId}
		
			UNION
			SELECT 	r.KeyBaseTable, 	
				IF(n.price3 is null,r.price3 ,n.price3 ) as compnoPrdPrc
				,IF(n.price3 is null,r.percentage3,(n.price3/ #{baseAmt}) * 100 ) as compnoPrdprcRt
				,3 as sortOrdr
                ,IF(r.Count3>10000000,'Y','N') as opbdChoiceYn
				,IF(r.Count3>10000000,cast(r.Count3 as signed)-10000000,r.Count3) as opbdChoiceTmcnt
			   FROM	NoticeTables.S_ResultPrePrice r
		LEFT JOIN 	NoticeTables.S_NoticePrePrice n
			ON r.KeyBaseTable = n.KeyBaseTable
			WHERE r.KeyBaseTable = #{prfId}
			
			UNION
			SELECT 	r.KeyBaseTable, 	
					IF(n.price4 is null,r.price4 ,n.price4 ) as compnoPrdPrc
					,IF(n.price4 is null,r.percentage4,(n.price4/ #{baseAmt}) * 100 ) as compnoPrdprcRt
					,4 as sortOrdr
					,IF(r.Count4>10000000,'Y','N') as opbdChoiceYn
					,IF(r.Count4>10000000,cast(r.Count4 as signed)-10000000,r.Count4) as opbdChoiceTmcnt
			   FROM	NoticeTables.S_ResultPrePrice r
		LEFT JOIN 	NoticeTables.S_NoticePrePrice n
			ON r.KeyBaseTable = n.KeyBaseTable
			WHERE r.KeyBaseTable = #{prfId}
			
			UNION
			SELECT 	r.KeyBaseTable, 	
					IF(n.price5 is null,r.price5 ,n.price5 ) as compnoPrdPrc
					,IF(n.price5 is null,r.percentage5,(n.price5/ #{baseAmt}) * 100 ) as compnoPrdprcRt
					,5 as sortOrdr
					,IF(r.Count5>10000000,'Y','N') as opbdChoiceYn
					,IF(r.Count5>10000000,cast(r.Count5 as signed)-10000000,r.Count5) as opbdChoiceTmcnt
			   FROM	NoticeTables.S_ResultPrePrice r
		LEFT JOIN 	NoticeTables.S_NoticePrePrice n
			ON r.KeyBaseTable = n.KeyBaseTable
			WHERE r.KeyBaseTable = #{prfId}
			
			UNION
			SELECT 	r.KeyBaseTable, 	
					IF(n.price6 is null,r.price6 ,n.price6 ) as compnoPrdPrc
					,IF(n.price6 is null,r.percentage6,(n.price6/ #{baseAmt}) * 100 ) as compnoPrdprcRt
					,6 as sortOrdr
					,IF(r.Count6>10000000,'Y','N') as opbdChoiceYn
					,IF(r.Count6>10000000,cast(r.Count6 as signed)-10000000,r.Count6) as opbdChoiceTmcnt
			   FROM	NoticeTables.S_ResultPrePrice r
		LEFT JOIN 	NoticeTables.S_NoticePrePrice n
			ON r.KeyBaseTable = n.KeyBaseTable
			WHERE r.KeyBaseTable = #{prfId}

			UNION
			SELECT 	r.KeyBaseTable, 	
					IF(n.price7 is null,r.price7 ,n.price7 ) as compnoPrdPrc
					,IF(n.price7 is null,r.percentage7,(n.price7/ #{baseAmt}) * 100 ) as compnoPrdprcRt
					,7 as sortOrdr
					,IF(r.Count7>10000000,'Y','N') as opbdChoiceYn
					,IF(r.Count7>10000000,cast(r.Count7 as signed)-10000000,r.Count7) as opbdChoiceTmcnt
			   FROM	NoticeTables.S_ResultPrePrice r
		LEFT JOIN 	NoticeTables.S_NoticePrePrice n
			ON r.KeyBaseTable = n.KeyBaseTable
			WHERE r.KeyBaseTable = #{prfId}
				
			UNION
			SELECT 	r.KeyBaseTable, 	
					IF(n.price8 is null,r.price8 ,n.price8 ) as compnoPrdPrc
					,IF(n.price8 is null,r.percentage8,(n.price8/ #{baseAmt}) * 100 ) as compnoPrdprcRt
					,8 as sortOrdr
					,IF(r.Count8>10000000,'Y','N') as opbdChoiceYn
					,IF(r.Count8>10000000,cast(r.Count8 as signed)-10000000,r.Count8) as opbdChoiceTmcnt
			   FROM	NoticeTables.S_ResultPrePrice r
		LEFT JOIN 	NoticeTables.S_NoticePrePrice n
			ON r.KeyBaseTable = n.KeyBaseTable
			WHERE r.KeyBaseTable = #{prfId}
			
			UNION
			SELECT 	r.KeyBaseTable, 	
					IF(n.price9 is null,r.price9 ,n.price9 ) as compnoPrdPrc
					,IF(n.price9 is null,r.percentage9,(n.price9/ #{baseAmt}) * 100 ) as compnoPrdprcRt
					,9 as sortOrdr
					,IF(r.Count9>10000000,'Y','N') as opbdChoiceYn
					,IF(r.Count9>10000000,cast(r.Count9 as signed)-10000000,r.Count9) as opbdChoiceTmcnt
			   FROM	NoticeTables.S_ResultPrePrice r
		LEFT JOIN 	NoticeTables.S_NoticePrePrice n
			ON r.KeyBaseTable = n.KeyBaseTable
			WHERE r.KeyBaseTable = #{prfId}			
			
			UNION
			SELECT 	r.KeyBaseTable, 	
					IF(n.price10 is null,r.price10 ,n.price10 ) as compnoPrdPrc
					,IF(n.price10 is null,r.percentage10,(n.price10/ #{baseAmt}) * 100 ) as compnoPrdprcRt
					,10 as sortOrdr
					,IF(r.Count10>10000000,'Y','N') as opbdChoiceYn
					,IF(r.Count10>10000000,cast(r.Count10 as signed)-10000000,r.Count10) as opbdChoiceTmcnt
			   FROM	NoticeTables.S_ResultPrePrice r
		LEFT JOIN 	NoticeTables.S_NoticePrePrice n
			ON r.KeyBaseTable = n.KeyBaseTable
			WHERE r.KeyBaseTable = #{prfId}						
						
			UNION
			SELECT 	r.KeyBaseTable, 	
					IF(n.price11 is null,r.price11 ,n.price11 ) as compnoPrdPrc
					,IF(n.price11 is null,r.percentage11,(n.price11/ #{baseAmt}) * 100 ) as compnoPrdprcRt
					,11 as sortOrdr
					,IF(r.Count11>10000000,'Y','N') as opbdChoiceYn
					,IF(r.Count11>10000000,cast(r.Count11 as signed)-10000000,r.Count11) as opbdChoiceTmcnt
			   FROM	NoticeTables.S_ResultPrePrice r
		LEFT JOIN 	NoticeTables.S_NoticePrePrice n
			ON r.KeyBaseTable = n.KeyBaseTable
			WHERE r.KeyBaseTable = #{prfId}						
						
			UNION
			SELECT 	r.KeyBaseTable, 	
					IF(n.price12 is null,r.price12 ,n.price12 ) as compnoPrdPrc
					,IF(n.price12 is null,r.percentage12,(n.price12/ #{baseAmt}) * 100 ) as compnoPrdprcRt
					,12 as sortOrdr
					,IF(r.Count12>10000000,'Y','N') as opbdChoiceYn
					,IF(r.Count12>10000000,cast(r.Count12 as signed)-10000000,r.Count12) as opbdChoiceTmcnt
			   FROM	NoticeTables.S_ResultPrePrice r
		LEFT JOIN 	NoticeTables.S_NoticePrePrice n
			ON r.KeyBaseTable = n.KeyBaseTable
			WHERE r.KeyBaseTable = #{prfId}
						
			UNION
			SELECT 	r.KeyBaseTable, 	
					IF(n.price13 is null,r.price13 ,n.price13 ) as compnoPrdPrc
					,IF(n.price13 is null,r.percentage13,(n.price13/ #{baseAmt}) * 100 ) as compnoPrdprcRt
					,13 as sortOrdr
					,IF(r.Count13>10000000,'Y','N') as opbdChoiceYn
					,IF(r.Count13>10000000,cast(r.Count13 as signed)-10000000,r.Count13) as opbdChoiceTmcnt
			   FROM	NoticeTables.S_ResultPrePrice r
		LEFT JOIN 	NoticeTables.S_NoticePrePrice n
			ON r.KeyBaseTable = n.KeyBaseTable
			WHERE r.KeyBaseTable = #{prfId}
			
			UNION
			SELECT 	r.KeyBaseTable, 	
					IF(n.price14 is null,r.price14 ,n.price14 ) as compnoPrdPrc
					,IF(n.price14 is null,r.percentage14,(n.price14/ #{baseAmt}) * 100 ) as compnoPrdprcRt
					,14 as sortOrdr
					,IF(r.Count14>10000000,'Y','N') as opbdChoiceYn
					,IF(r.Count14>10000000,cast(r.Count14 as signed)-10000000,r.Count14) as opbdChoiceTmcnt
			   FROM	NoticeTables.S_ResultPrePrice r
		LEFT JOIN 	NoticeTables.S_NoticePrePrice n
			ON r.KeyBaseTable = n.KeyBaseTable
			WHERE r.KeyBaseTable = #{prfId}
			
			UNION
			SELECT 	r.KeyBaseTable,
					IF(n.price15 is null,r.price15 ,n.price15 ) as compnoPrdPrc
					,IF(n.price15 is null,r.percentage15, (n.price15/ #{baseAmt}) * 100 ) as compnoPrdprcRt
					,15 as sortOrdr
					,IF(r.Count15>10000000,'Y','N') as opbdChoiceYn
					,IF(r.Count15>10000000,cast(r.Count15 as signed)-10000000,r.Count15) as opbdChoiceTmcnt
			   FROM	NoticeTables.S_ResultPrePrice r
		LEFT JOIN 	NoticeTables.S_NoticePrePrice n
			ON r.KeyBaseTable = n.KeyBaseTable
			WHERE r.KeyBaseTable = #{prfId}
            ) a
            order by 4
         ]]>
	</select>

	
</mapper>