<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="jinbid.converter.comn.mapper106.NoticeOrign106Dao">

	<!-- 공고 첨부파일 조회 -->
	<select id="selectNoticeOrign"  parameterType="Map" resultType="jinbid.converter.comn.vo.NoticeOrign">
	<![CDATA[ 
			SELECT 
			 #{id} as notiId
			 ,#{atchmnflId} as notiAtchmnflId
			 ,'Y' as AtchmnflYn
			 ,IF(Contents !='',"html",IF(G2BContents !='',"xml",'')) as orignTpCd
             ,IF(Contents !='',Contents,G2BContents) as orignText
			FROM NoticeTables.S_NoticeManual
	        WHERE KeyBaseTable = #{prfId}
         ]]>
	</select>
</mapper>