<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="jinbid.converter.comn.mapper106.NoticeLicence106Dao">

	<!-- 공고면허 조회 -->
	<select id="selectNoticeLicense"  parameterType="Map" resultType="jinbid.converter.comn.vo.NoticeLicns">
	<![CDATA[ 
		SELECT
					#{id} as NOTI_ID 
					, LPAD(A.Code,'4','0') as licnsCd
					, B.LicenseName as licnsNm
					, A.Category as licnsCtgyNm
					, 0 as licnsGroup
					,  IF(B.Part = 0
					  , IF(Gubun = 1 , '0' ,IF(Gubun = 2 , '1', '2'))
					  , IF(B.Part = 1, '3', '4')
					           ) as licnsDstnctCd
		FROM NoticeTables.S_NoticeLicense AS A,
		HashTables.LicenseInfo AS B
		WHERE A.NoticePart = B.Part 
		AND A.Code = B.Code    
        AND A.KeyBaseTable = #{prfId}
         ]]>
	</select>

</mapper>