<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="jinbid.converter.comn.mapper106.NoticeAtchmnfl106Dao">

	<!-- 공고 첨부파일 조회 -->
	<select id="selectNoticeAtchmnfl"  parameterType="Map" resultType="jinbid.converter.comn.vo.NoticeAtchmnfl">
	<![CDATA[ 
			SELECT
			#{id} as NOTI_ID
			,CASE  WHEN INSTR(filename, '공고문') > 0 then '공고문'
						WHEN INSTR(filename, '내역서') > 0 then '내역서'
						WHEN INSTR(filename, '유의서') > 0 then '유의서'
						WHEN INSTR(filename, '안내서') > 0 then '안내서'
						ELSE '' END as fileDstnctNm,
			fileName as fileNm,
			filePath as filePathNm,
			'N' as extrnlfileyn
			FROM NoticeTables.S_NoticeFile
	        WHERE KeyBaseTable = #{prfId}
         ]]>
	</select>

</mapper>