<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="jinbid.converter.comn.mapper106.Notice106Dao">
	<!-- 공고 진행 조회 -->
	<select id="selectNoticeBase"  parameterType="Map" resultType="jinbid.converter.comn.vo.Notice">
	<![CDATA[ 
SELECT DISTINCT /*	selectNoticeBase	*/
					   NoticeNumber as NOTI_NO
					 , NoticeChasu as NOTI_SEQ
					 , NoticeName as NOTI_NM
					 , a.NoticePart as NOTI_KIND_CD
					 , InputType as COLCT_METH_CD
					 , Complete as NOTI_PROG_STAT_CD
					 , a.NoticeType as NOTI_DSTNCT_CD			/* 공고구분코드 */
					 , NoticeOrgan as RPSNT_ORGNZ_CD 	/* 대표기관CD * */
					 , OrganOrder as ORDER_OFFI_CD_NM	/* 발주처코드 * */
					 , OrganReal as ACTUL_DNTT_CD_NM	/* 실수요기관코드 * */
					 , FROM_UNIXTIME(NoticeTime) as NOTI_STRT_DT
					 , FROM_UNIXTIME(StartBidTime) as BDDPR_STRT_DT
					 , FROM_UNIXTIME(BidJoinFinishTime) as REGST_FIN_DT
					 , FROM_UNIXTIME(CloseBidTime) as BDDPR_FIN_DT
                     , b.TotalJoiner as BDDPR_PRTC_CMP_CNT
					 , FROM_UNIXTIME(OpenBidTime) as OPBD_DT
					 , PrePrice as OPBD_PRARG_PRICE
					 , IF(a.ReBidCount > 0, '4', 
					   IF(b.CompanyName='유찰','3',
					   IF(c.KeyBaseTable is not null,'5','2') ) ) as OPBD_STAT_CD	/* 개찰상태코드 0개찰전/1미개찰/2개찰/3유찰/4재입찰/5최종낙찰  */
					 , IF(RealUpdateTIme = 0 , null, FROM_UNIXTIME(RealUpdateTime)) as  ORDER_OFFI_OPBD_DT /* 발주처개찰일시 */
					 , FROM_UNIXTIME(ExplainTime) as SITE_DESC_DT /* 현장설명일시 */
					 , ExplainPlace as SITE_DESC_PLAC
					 , AssumPrice as PRESM_AMT
					 , BasePrice as BASE_AMT
					 , ContractMethod as CNTR_MTHD_ID
					 , Grade as SORT_ORDR
					 , NoticeLowLimit as DWNLMT_RT
					 , PerLowLimit as MIN_AS_RT
					 , PerHighLimit as MAX_AS_RT
					 , CalculationPrice as PRDC_BASE_AMT
					 , IF(NoticeOrgan=1&&OrderFrom < 2 && OrderFromSecond=5,'3',
					   IF(NoticeOrgan=1&&OrderFrom=2,'5', 
					   IF(NoticeOrgan=1,'1',	 
					   IF(NoticeOrgan=2&&OrderFromSecond=1, '5', null  ))))  as CFMT_UNDWRT_ST_ID 		/* 적격심사기준ID */
					 , a.ReBidCount as REBID_NO
					 , IF(ResultDateTime = 0 , null ,FROM_UNIXTIME(ResultDateTime)) as ARSTUDWRT_APPLY_FIN_DT
					 , Charger as CHRGR_NM
                     , d.ChargerPart as CHRGR_DEPT_NM  		/*	발주 담당자 부서 */
 					 , d.ChargerPhone as CHRGR_TELNO 		/*	발주 담당자 연락처 */
					 , d.ChargerEmail	as CHRGR_EMAIL 		/* 발주 담당자 이메일	 */
                     , f.PlaceText	as CNST_AREA_LOCAT		/*	공사현장텍스트 */
                     , f.BuildingPeriod	as CNST_PERD		/* 	공사기간 */
					 , f.WhyCorrect		as CORCT_RSN		/* 	정정사유 */
					 , f.QualifyContents as RMRK			/* 	참가자격 텍스트( 공고 특이사항 ) */
					 , NoticeMemo as TALK_MEMO
					 , ExplainLimit as SITE_DESC_MANDA_YN
                     , IF(f.SmallBusiness = 1,'Y','N') as SCHTWR_YN						/* 소상공인(비대상:0, 대상: 1)  */
                     , IF(f.LadyBusiness = 1,'Y','N') as FEMALE_HNDC_CO_YN	/* 여성기업(비대상:0, 대상: 1)  */
					 , IF(UnusualElectric = 1,'Y','N') as PATENT_NTCNQ_YN
					 , IF(Deposit=0,'N','Y') as GURAMT_PYM_YN
					 , IF(BreakDown=0,'N','Y') as SPCFCT_BID_YN
					 , IF(BiddingSystem=1,'Y','N') as MNPR_BID_YN
					 , IF(BaseOption=1,'Y','N') as ACRSLT_IGNOR_YN
					 , IF(IconNumber= 6,'Y',IF((select IconNumber from HashTables.ContractMethod where Number = a.ContractMethod )=6,'Y','N')) as VLTRN_NOTI_YN
                     , IF(BidType=2,'Y','N') as PRVSTL_NOTI_YN
			         , IF(BidType=1,'N','Y') as ELECT_BID_YN
                     , IF(JoinFinishTime=0, null,FROM_UNIXTIME(JoinFinishTime)) as SPDMAGMT_FIN_DT  
					 , IF(e.NoticeType=1,'Y','N') as UNION_TRSF_PSBL_YN
					 , IF(e.NoticeType=2,'Y','N') as SHR_TRSF_PSBL_YN
					 , IF(e.NoticeType=4,'Y','N') as AREA_DUTY_YN
					 , IF(e.LicenseType=2,'N','Y') as SINGL_PSBL_YN			         
                     , IF(Grade=0,'Y','N') as NEWEST_NOTI_YN  
					 , a.idx as PRF_ID
					 , FROM_UNIXTIME(InputTime) as PRF_DT FROM
(
	SELECT A.* FROM NoticeTables.N_NoticeBase AS A
INNER JOIN NoticeTables.S_NoticeSimpleInfo AS B ON ( A.Idx = B.KeyBaseTable ) 
/* NoticeSimpleInfo이 무조건 있어야 함. */
WHERE 1
        AND A.Complete = '0' /* 완료공고 인것  */
        AND A.InputTime between UNIX_TIMESTAMP( #{startDate} ) and UNIX_TIMESTAMP( #{endDate})
        AND EXISTS ( 
					                 SELECT 1 
					                	FROM NoticeTables.S_NoticeLicense AS NL 
					                 WHERE NL.KeyBaseTable = A.Idx 
					                 	  AND NL.NoticePart = '0'   ) /* 면허가 존재하고 시설 면허가 1개라도 포함되어 있어야 함. */
        AND EXISTS ( 
                					SELECT 1 
                					   FROM NoticeTables.S_NoticeLocal AS NL 
                					 WHERE NL.KeyBaseTable = A.Idx   ) /* 지역이 존재해야 함 */
        LIMIT #{_skiprows}, #{_pagesize}
             ) a
			 LEFT JOIN NoticeTables.S_NoticeResult b
			 FORCE INDEX FOR JOIN(KeyBaseTable)
			 ON a.idx = b.keyBaseTable
			 LEFT JOIN NoticeTables.S_FinallyBider c
			 FORCE INDEX FOR JOIN(KeyBaseTable)
			 ON	a.idx = c.KeyBaseTable
             LEFT JOIN NoticeTables.S_NoticeCharger d
             FORCE INDEX FOR JOIN(KeyBaseTable)
             On a.idx = d.KeyBaseTable
             LEFT JOIN NoticeTables.S_NoticeSimpleInfo e
             FORCE INDEX FOR JOIN(KeyBaseTable)
             ON a.idx = e.KeyBaseTable
             LEFT JOIN NoticeTables.NoticeContents f
             FORCE INDEX FOR JOIN(KeyBaseTable)
             ON a.idx = f.KeyBaseTable
             
         ]]>
	</select>

</mapper>