<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="jinbid.converter.comn.mapper106.NoticeArea106Dao">

	<!-- 공고면허 조회 -->
	<select id="selectNoticeArea"  parameterType="Map" resultType="jinbid.converter.comn.vo.NoticeArea">
	<![CDATA[ 
			SELECT 
			#{id} as NOTI_ID
			,C.AREA_CD as AREA_CD
			FROM NoticeTables.S_NoticeLocal A,
			HashTables.LocalInfo B,
			HashTables.AREA_CODE C
			WHERE A.Code1 = B.SidoCode
			AND A.Code2 = B.GugunCode
			AND B.Local1 = C.PRVNCL_NM
			AND B.Local2 = C.AREA_NM
	        AND A.KeyBaseTable = #{prfId}
         ]]>
	</select>

	
</mapper>