<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="converter.comn.mapper.SampleDao">
	<!--위의 Dao의 Method와 일치해야한다 -->

	<select id="selectExistedSample" parameterType="Map"
		resultType="converter.comn.vo.Sample">
		SELECT count(*)
		FROM Table
		WHERE ID = #{Id}
		LIMIT 1
	</select>

	<insert id="insertSample" parameterType="converter.comn.vo.Sample"
		keyProperty="id" useGeneratedKeys="true">
		<selectKey keyProperty="id" resultType="Long" order="BEFORE">
			SELECT id FROM Table WHERE PRF_ID = #{prfId}
			union select 0 as id from dual limit 1;
		</selectKey>
		<if test="id==0">
			INSERT INTO SY_NOTI.NOTI
			(
			NOTI_NO,
			NOTI_SEQ,
			NOTI_NM,
			CNST_NO,
			NOTI_KIND_CD,
			COLCT_METH_CD,
			NOTI_PROG_STAT_CD,
			NOTI_DSTNCT_CD,
			RPSNT_ORGNZ_CD,
			ORDER_OFFI_CD,
			ACTUL_DNTT_CD,
			NOTI_STRT_DT,
			BDDPR_STRT_DT,
			REGST_FIN_DT,
			BDDPR_FIN_DT,
			BDDPR_PRTC_CMP_CNT,
			OPBD_DT,
			OPBD_PRARG_PRICE,
			OPBD_STAT_CD,
			ORDER_OFFI_OPBD_DT,
			SITE_DESC_DT,
			SITE_DESC_PLAC,
			PRESM_AMT,
			BASE_AMT,
			CNTR_MTHD_ID,
			SORT_ORDR,
			NEWEST_NOTI_YN,
			DWNLMT_RT,
			MIN_AS_RT,
			MAX_AS_RT,
			PRDC_BASE_AMT,
			CFMT_UNDWRT_ST_ID,
			REBID_NO,
			ARSTUDWRT_APPLY_FIN_DT,
			CHRGR_NM,
			CHRGR_DEPT_NM,
			CHRGR_TELNO,
			CHRGR_EMAIL,
			CNST_AREA_LOCAT,
			CNST_PERD,
			CORCT_RSN,
			RMRK,
			TALK_MEMO,
			SITE_DESC_MANDA_YN,
			SCHTWR_YN,
			PATENT_NTCNQ_YN,
			GURAMT_PYM_YN,
			FEMALE_HNDC_CO_YN,
			SPCFCT_BID_YN,
			MNPR_BID_YN,
			ACRSLT_IGNOR_YN,
			VLTRN_NOTI_YN,
			UNIVAL_NOTI_YN,
			PRVSTL_NOTI_YN,
			PRVT_NOTI_YN,
			EMG_NOTI_YN,
			RENOTI_YN,
			PSTPONE_NOTI_YN,
			ELECT_BID_YN,
			SPDMAGMT_FIN_DT,
			MNRCR_OUTSRC_RATE,
			UNION_TRSF_PSBL_YN,
			SHR_TRSF_PSBL_YN,
			AREA_DUTY_YN,
			SINGL_PSBL_YN,
			FIRST_INPUT_DT,
			FIRST_INPTPS,
			LAST_UPDT_DT,
			LAST_AMNDR,
			USE_YN,
			PRF_ID,
			PRF_DT)
			VALUES (
			#{notiNo},
			#{notiSeq},
			#{notiNm},
			#{cnstNo},
			#{notiKindCd},
			#{colctMethCd},
			#{notiProgStatCd},
			#{notiDstnctCd},
			#{rpsntOrgnzCd},
			#{orderOffiCdNm},
			#{actulDnttCdNm},
			#{notiStrtDt},
			#{bddprStrtDt},
			#{regstFinDt},
			#{bddprFinDt},
			#{bddprPrtcCmpCnt},
			#{opbdDt},
			#{opbdPrargPrice},
			#{opbdStatCd},
			#{orderOffiOpbdDt},
			FROM_UNIXTIME(#{siteDescDt}),
			#{siteDescPlac},
			#{presmAmt},
			#{baseAmt},
			#{cntrMthdId},
			#{sortOrdr},
			#{newestNotiYn},
			#{dwnlmtRt},
			#{minAsRt},
			#{maxAsRt},
			#{prdcBaseAmt},
			#{cfmtUndwrtStId},
			#{rebidNo},
			#{arstudwrtApplyFinDt},
			#{chrgrNm},
			#{chrgrDeptNm},
			#{chrgrTelno},
			#{chrgrEmail},
			#{cnstAreaLocat},
			#{cnstPerd},
			#{corctRsn},
			#{rmrk},
			#{talkMemo},
			#{siteDescMandaYn},
			#{schtwrYn},
			#{patentNtcnqYn},
			#{guramtPymYn},
			#{femaleHndcCoYn},
			#{spcfctBidYn},
			#{mnprBidYn},
			#{acrsltIgnorYn},
			#{vltrnNotiYn},
			#{univalNotiYn},
			#{prvstlNotiYn},
			#{prvtNotiYn},
			#{emgNotiYn},
			#{renotiYn},
			#{pstponeNotiYn},
			#{electBidYn},
			#{spdmagmtFinDt},
			#{mnrcrOutsrcRate},
			#{unionTrsfPsblYn},
			#{shrTrsfPsblYn},
			#{areaDutyYn},
			#{singlPsblYn},
			now(),
			'batch2_insert',
			now(),
			'batch2_insert',
			'Y',
			#{prfId},
			#{prfDt}
			)
		</if>
		<if test="id!=0">
			UPDATE SY_NOTI.NOTI
			SET
			ColumnA = #{ColumnA},
			ColumnB = #{ColumnB},
			ColumnC = #{ColumnC},
			ColumnD = #{ColumnD},
			LAST_UPDT_DT = now(),
			LAST_AMNDR = 'Updater'
			WHERE ID=#{id}
		</if>
	</insert>

	<update id="updateSample" parameterType="converter.comn.vo.Sample"
		keyProperty="id" useGeneratedKeys="true">
		<selectKey keyProperty="id" resultType="String" order="BEFORE">
			select id FROM Table WHERE PRF_ID = #{prfId}
		</selectKey>
		UPDATE SY_NOTI.NOTI
		SET
		ColumnA = #{ColumnA},
		ColumnB = #{ColumnB},
		ColumnC = #{ColumnC},
		ColumnD = #{ColumnD},
		LAST_UPDT_DT = now(),
		LAST_AMNDR = 'Updater'
		WHERE PRF_ID=#{id}

	</update>


</mapper>